<!DOCTYPE html>
<html>
    <head>
        <title>TGZ Tournament Dashboard</title>
    </head>
    <body>
        <h1>TGZ Winter 2022</h1>
        {% for game in games %}
        <div>
            <h2>{{ game.name }} [
                {% if game.game_info.is_complete %}
                Complete
                {% elif game.game_info.last_move %}
                Last move {{ game.game_info.last_move | humanise }}
                {% else %}
                Setup
                {% endif %}]
            </h2>
            <p>
                <a href="http://play.boardgamecore.net/tgz/{{game.id}}" target="_blank">Game Link</a>
            </p>
            <h3>Players</h3>
            <ul>
                {% for player in game.players %}
                <li>{{ player.name }} - VP: {{ player.vp}} / {{ player.vr }} [{{ player.vp_delta }}]</li>
                {% endfor %}
            </ul>
            <p>Current Player: {{ game.current_player }}</p>
        </div>
        {% endfor %}
    </body>
</html>
