<!DOCTYPE html>
<html>
    <head>
        <title>TGZ Tournament Dashboard</title>
    </head>
    <body>
        <h1>TGZ Winter 2022</h1>
        {% for game in games %}
        <div>
            <h2>{{ game.name }}</h2>
            <p>
                <a href="http://play.boardgamecore.net/tgz/{{game.id}}" target="_blank">Game Link</a>
            </p>
            <h3>Players</h3>
            <ul>
                {% for player in game.players %}
                <li>{{ player.name }} [VR: {{ player.vr }}]</li>
                {% endfor %}
            </ul>
            <p>Current Player: {{ game.current_player }}</p>
        </div>
        {% endfor %}
    </body>
</html>
